<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/products"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Partido</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="updateProduct()" [disabled]="!formProductUpdate.valid">
        <ion-icon name="checkmark-circle"></ion-icon>
      </ion-button>
      <ion-button color="danger" fill="solid">Finalizar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formProductUpdate">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Equipos</ion-label>
            <ion-input type="text" 
              autocomplete
              autocorrect
              formControlName="pnombre"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Identificador de partido: </ion-label>
            <ion-input type="number" 
              autocomplete
              autocorrect
              formControlName="pcodigo"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
     
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Marcador: </ion-label>
            <ion-input type="string" 
              autocomplete
              autocorrect
              formControlName="pmarcador"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Eventos</ion-label>
            <ion-textarea 
              autocomplete
              autocorrect
              formControlName="pdescripcion"
            >
            </ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!formProductUpdate.get('pdescripcion').valid &&
      formProductUpdate.touched">
        <ion-col size-sm="6" offset-sm="3">
          <p>La descripcion debe de ser mayor a 30 caracteres</p>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>
</ion-content>
